.csstransforms .title-slide hgroup {
  text-align: center;
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -70%);
  -moz-transform: translate(0, -70%);
  -ms-transform: translate(0, -70%);
  -o-transform: translate(0, -70%);
  transform: translate(0, -70%);
}
.csstransforms .title-slide hgroup h1 {
  padding: 0;
  position: static;
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.deck-container {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 2em;
  background: #fff;
  color: #0c052e;
}
.deck-container > .persona {
  background: #3287e7;
  color: white;
}
.deck-container > .userstory {
  background: #cc0707;
  color: white;
}
.deck-container > .usersketching {
  background: #2B3844;
  color: #FAEFDE;
}
.deck-container .slide h2 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .05em;
  border: none;
  margin: 2em 0;
  padding: 0;
}
.deck-container .slide p {
  margin: 1em 0;
  padding: 0;
  font-size: 6em;
}
.deck-container .slide em {
  font-style: normal;
  font-weight: 700;
}
.deck-container .slide ul,
.deck-container .slide ol {
  margin: 0;
}
.deck-container .slide ul li,
.deck-container .slide ol li {
  font-size: 5em;
  margin: .2em 0;
  padding: 0;
}
.deck-container .slide ul ul,
.deck-container .slide ol ul,
.deck-container .slide ul ol,
.deck-container .slide ol ol {
  margin-left: 100px;
  font-size: .5em;
}
.deck-container .slide .lyst {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.deck-container .slide .dexio {
  font-weight: 900;
}
.deck-container .slide .yc {
  display: inline-block;
  color: white;
  background: orange;
  padding: 0 .2em;
}
.deck-container .splash-image {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.deck-container .numeral {
  display: inline-block;
  text-align: center;
  width: 2em;
  height: 2em;
  margin: 1em auto;
  line-height: 2em;
  background: #0c052e;
  color: white;
  border-radius: 1em;
}
.deck-container .numeral.inline {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  margin: 0 .3em .5em 0;
}
.deck-container .highlight {
  color: #CC4E0A;
}
.deck-container table td {
  font-size: 3em;
  padding: 10px;
  border: 1px solid #aaa;
}
#banner {
  height: 149px;
  width: 149px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
}
#banner a {
  display: block;
  width: 190px;
  font-size: 14px;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
  background-color: #333;
  color: #FFF;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  position: relative;
  left: 20px;
  top: -37px;
  text-align: center;
  -moz-transform-origin: 0 0 ;
  -moz-transform: rotate(45deg);
  -moz-box-shadow: 1px 1px 5px 1px #666;
  -webkit-transform-origin: 0 0 ;
  -webkit-transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 5px 1px #666;
  -ms-transform-origin: 0 0 ;
  -ms-transform: rotate(45deg);
  -ms-box-shadow: 1px 1px 5px 1px #666;
  transform-origin: 0 0 ;
  transform: rotate(45deg);
  box-shadow: 1px 1px 5px 1px #666;
  background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.03, #000000), color-stop(0.05, #666666), color-stop(0.07, #000000), color-stop(0.93, #000000), color-stop(0.95, #666666), color-stop(0.97, #000000));
}
